@font-face {
  font-family: "SourceSansPro";
  src: url("fonts/SourceSansPro-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("fonts/SourceSansPro-LightIt.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("fonts/SourceSansPro-ExtraLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("fonts/SourceSansPro-ExtraLightIt.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("fonts/SourceSansPro-BoldIt.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("fonts/SourceSansPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("fonts/SourceSansPro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

body {
  margin: 0;
  color: white;
  font-family: "SourceSansPro", sans-serif;
}

div {
  margin: 0;
}

header {
  background-image: url("/headphones/d1597894d79386c83b9b/images/headphones_hero_1.jpg");
  height: 800px;
  display: grid;
  gap: 9rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 7rem 1rem 7rem;
  font-weight: 700;
  width:1000px;
  gap:15rem;
  margin-left:4.5%;
  margin-right:4.5%;
}

nav img{
    height: 32px;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

ul li {
  list-style: none;
  cursor: pointer;
}

li:hover{
    color:#ff6565;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 313px;
}
small {
  font-size: 16px;
}

.heading h2 {
  font-size: 32px;
  margin-bottom: 0;
  width: 637px;
}

.section-1 {
  text-align: center;
  margin: 0;
  font-weight: 700;
}

.action-call {
  font-weight: 700;
  background-color: #ff6565;
  border: none;
  border-radius: 3rem;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 65px;
}

.action-call :hover{
    opacity: 0.9;
}

.heading-intro {
  width: 637px;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
}
