body {
margin: 0;
font-family: "SourceSansPro", sans-serif;
color: white;
}


header {
background-image: url("images/headphones_hero_3.jpg");
height: 600px;
text-align: center;
padding-top: 200px;
}


.results {
background: #ff6565;
padding: 80px 0;
text-align: center;
}


.grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 3rem;
width: 80%;
margin: auto;
}


.pentagon {
width: 120px;
height: 120px;
background-image: url("images/pentagon.png");
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: auto;
}