body {
margin: 0;
font-family: "SourceSansPro", sans-serif;
color: #333;
}


.contact {
text-align: center;
padding: 60px;
}


form {
display: grid;
gap: 1rem;
width: 400px;
margin: auto;
}


input,
textarea {
padding: 12px;
font-size: 14px;
border: 1px solid #ccc;
border-radius: 5px;
}


button {
background-color: #ff6565;
color: white;
border: none;
padding: 12px;
border-radius: 30px;
cursor: pointer;
font-weight: bold;
}