body {
  background-image: url("images/2d6ece16dd7ab4ed2701047586bc80f0cb68835c/CSS Advanced/Object.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Source Sans Pro", sans-serif;
  margin:0;
}

main{
    display: grid;
}

#banner {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 7.5rem;
  color: white;
}


nav a{
    text-decoration: none;
    color:#ffffff;
}

.banner-text-first-part{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width:20rem;
}

.banner-text{
    border:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

#banner h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 120px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 0px;
}

#banner button, #membership button {
  width: 200px;
  height: 44px;
  /* margin-top: 419px;
  margin-left: 639px; */
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 100%;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  background-color: #c271ff;
  border-radius: 22px;
  border: none;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 13px;
}

h2{
    color:white;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem 7rem 1.75rem 7rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}

.feature-div{
    line-height: 10px;
    margin:0px;
}

.banner-blocks{
    display:flex;
    flex-direction: column;
    width:1009px;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
}

.feature-list{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

.feature-image{
    border-radius:100%;
    width:150px;
    height:150px;
}

.feature{
    line-height: 25px;
}

.feature p{
 text-align: center;
 margin:0;
}

.feature h3{
 text-align: center;
 margin:0;
}

#quote{
    background-color: #c271ff;
    color: #ffffff;
    padding: 3rem 2rem 3rem 2rem;
    margin-left: 0px;
    margin-right:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-block{
    display: flex;
    width:730px;
    align-items: center;
    justify-content: center;
}

.author{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

#videos{
    color:black;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding:2rem 1rem 2rem 1rem;
}

#videos h2{
    color:black;
    margin-bottom: 3.5rem;
}

.video-list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    width:70%;
}

h4{
    color:#c271ff;
    font-weight: 400 !important;
}

.rating p{
    color:#c271ff;
}

.author img{
    width:50px;
}

.video-item .author{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating{
     display: flex;
    justify-content: space-between;
    align-items: center;
}

.item{
    position:relative;
}

.dependent{
    position:absolute;
    top:1340px;
    left:200px;
}

.dependent2{
position:absolute;
top:1340px;
left:500px;
}

.dependent3{
position:absolute;
top:1340px;
left:770px;
}

.dependent4{
position:absolute;
top:1340px;
left:1070px;
}

#membership h2{
    font-weight: 300;
}

#membership{
    background-color: #071629;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
    padding:3rem 1rem 3rem 1rem;
    color:white;
   
}

.membership-list{
    display:flex;
    align-items: center;
    justify-content: center;
     width:70%;
}

.membership-item{
    text-align: center;
}